@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    <strong>Error Code:</strong> <code>@Model.ErrorCode</code>
</p>
<p>
    <strong>Error Message:</strong> <code>@Model.Message</code>
</p>
